<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chatting">

    <insert id="insertChat" parameterType="com.matching.kb40.chatting.chattingserver.dto.ChatDto">
        INSERT INTO tb_chat
        (
            match_id, 
            user_id, 
            content, 
            read_flag, 
            created_date
        )
        VALUES
        (
            #{matchId},
            #{userId},
            #{content},
            #{readFlag},
            #{createdDate}
        )
    </insert>

    <update id="updateChat" parameterType="com.matching.kb40.chatting.chattingserver.model.ReadChat">
        UPDATE tb_chat
	        SET read_flag = 'Y'
        WHERE 
	        match_id = #{matchId}
	        AND user_id != #{userId}
    </update>
</mapper>  