$VIOLET0: #f3f0ff;
$VIOLET1: #e5dbff;
$VIOLET2: #d0bfff;
$VIOLET3: #b197fc;
$VIOLET4: #9775fa;
$VIOLET5: #845ef7;
$VIOLET6: #7950f2;
$VIOLET7: #7048e8;
$VIOLET8: #6741d9;
$VIOLET9: #5f3dc4;

$GRAY0: #f8f9fa;
$GRAY1: #f1f3f5;
$GRAY2: #e9ecef;
$GRAY3: #dee2e6;
$GRAY4: #ced4da;
$GRAY5: #adb5bd;
$GRAY6: #868e96;
$GRAY7: #495057;
$GRAY8: #343a40;
$GRAY9: #212529;

$WHITE: #ffffff;
$BACKGROUND: #e9ecef;
